<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.logitics.erp.employeeducation.mapper.EmployeeEducationMapper">

    <select id="getEmployeeEducationInfo"
        resultType="EmployeeEducationInfoResponse"
    >
        SELECT * FROM employee_education ef
        WHERE ef.employee_id =
            (SELECT employee_id from employee e where e.employee_no = #{employeeNo})

    </select>

    <insert id="addEmployeeEducationInfo"
        parameterType="EmployeeEducationInfoRequest"
    >
        INSERT INTO employee_education (
            employee_id,
            entrance_year_month,
            graduate_year_month,
            school_name,
            major_name,
            degree,
            graduated,
            location
        ) VALUES (
            #{employeeId},
            #{entranceYearMonth},
            #{graduateYearMonth},
            #{schoolName},
            #{majorName},
            #{degree},
            #{graduated},
            #{location}
        )
    </insert>
</mapper>