.topBar {
	margin-top: 10px;
}

.mainContentWrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding-top: 10px;
}

.formWrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.calendarWrapper {
	display: flex;
	align-items: center;
	gap: 10px;
}