<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.logitics.erp.employeecertificateissue.mapper.EmployeeCertificateIssue">

    <select id="getCertificateIssue">
        SELECT * FROM employee_certificate_issue eci
        where employee_id = #{myEmployeeId}
        LIMIT #{size} OFFSET #{offset}
    </select>

<!--    <insert-->
<!--        id="addInfo"-->
<!--        parameterType="EmployeeCareerAddInfoRequest"-->
<!--    >-->
<!--        INSERT INTO employee_career(-->
<!--            employee_id,-->
<!--            company_name,-->
<!--            hire_date,-->
<!--            resignation_date,-->
<!--            position_name,-->
<!--            department_name,-->
<!--            resignation_reason-->
<!--        )-->
<!--        VALUES (-->
<!--            #{employeeId},-->
<!--            #{companyName},-->
<!--            #{hireDate},-->
<!--            #{resignationDate},-->
<!--            #{positionName},-->
<!--            #{departmentName},-->
<!--            #{resignationReason}-->
<!--        )-->
<!--    </insert>-->


<!--    <update id="deleteInfo">-->
<!--        UPDATE employee_career ec-->
<!--            SET ec.deleted = true-->
<!--            WHERE ec.employee_career_id = #{deletedCareerId}-->
<!--    </update>-->


</mapper>